.homeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.homeUser{
    color:white;
}

.homebtn{
    background-color: #066be6;
    border: none;
    color: white;
    padding: 5px;
    margin-top: 20px;
}

