.head{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    box-shadow: 2px 4px 8px rgb(60, 60, 60);
    color: transparent;
    text-align: center;
    color: rgb(120, 120, 251);
    padding-top: 10px;
    letter-spacing: 2px;
    text-shadow: 2px 4px 4px black;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  6% auto;
    
}
.userContainer{
    position: relative;
}

.textContainer,.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnContainer{
    margin-left: 40px;
}

.googlebtnContainer,.facebookBtnContainer{
    position: relative;
    margin-bottom: 10px;
}

.googlelogoContainer,.facebooklogoContainer{
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.googlelogoContainer{
    width: 20px;
    top: 20px;
    left: 18.2px;
}

.facebooklogoContainer{
    width: 25px;
    top:17.8px;
    z-index: 4;
    left: 15.6px;
}

.googlelogo,.facebooklogo{
    width: 100%;
    transition: transform 0.5s ease-in;
}

.googlebtnContainer:hover .googlelogo{
    transform:translateX(130px) rotate(720deg);
}

.googlebtnContainer:hover .googlelogoContainer{
    transform: scale(1.8);
}

.facebookBtnContainer:hover .facebooklogo{
    transform:  rotate(360deg)
}

.facebookBtnContainer:hover .facebooklogoContainer{
    transform: scale(1.5);
}

@media screen and (max-width:750px) {
    .wrapper {
        flex-direction: column;
    }
    .btnContainer{
        margin-left: 0px;
    }
}

  